mysql_data/
zk/zk1/datalog/
canal/canal_*/logs
canal_*/logs
canal_*/conf/*/h2.mv.db
es*/*/data
es*/*/logs
rmq/logs
rmq/store
odoo/odoo-web-data
odoo/pgdata
space/es00
redis/data/
space/redis_data/
tidb/data
tidb/logs
space/zk1/datalog
portainer/data/
