[client]
port=3306
socket              = /var/run/mysqld/mysqld.sock

[mysqld]
port                = 3306
key-buffer-size     = 16M
max-allowed-packet  = 128M
max_connections     = 10000
pid-file            = /var/run/mysqld/mysqld.pid
socket              = /var/run/mysqld/mysqld.sock
datadir             = /var/lib/mysql
secure-file-priv    = NULL
symbolic-links      = 0
# ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
ssl                 = false
sql-mode            = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# Custom config should go here
!includedir /etc/mysql/conf.d/

log-bin=mysql-bin
binlog-format=ROW
server-id=1

[mysqldump]
quick
